@theme inline {
  --color-d-primary: var(--primary);
  --color-d-primary-high: var(--primary-high);

  --color-d-secondary: var(--secondary);
  --color-d-tertiary: var(--tertiary);

  --color-d-category: var(--category-color);
}

@layer base {
  :root {
    --heading-font-family: var(--font-sans);
    --font-family: var(--font-sans);

    --primary: var(--color-primary-500);
    --primary-high: var(--color-primary-500);

    --excerpt-color: inherit;
    /* 
    --primary
    --primary-very-low
    --primary-low
    --primary-medium
    --primary-high
    --primary-very-high
     */
  }

  :root {
    --d-button-default-bg-color: var(--color-primary-50);
    --d-button-default-text-color: var(--color-primary-500);
    --d-button-default-icon-color: var(--d-button-default-text-color);

    --d-button-default-bg-color--hover: var(--color-primary-500);
    --d-button-default-text-color--hover: var(--color-primary-100);
    --d-button-default-icon-color--hover: var(--d-button-default-text-color--hover);

    /* --d-button-border-radius: var(--d-border-radius);
    --d-button-transition: none;
    --d-button-border: 1px solid transparent;
    --d-button-default-text-color: var(--primary);
    --d-button-default-text-color--hover: var(--secondary);
    --d-button-default-bg-color: var(--primary-low);
    --d-button-default-bg-color--hover: var(--primary-medium);
    --d-button-default-icon-color: var(--primary-high);
    --d-button-default-icon-color--hover: var(--primary-low);
    --d-button-primary-text-color: var(--secondary);
    --d-button-primary-text-color--hover: var(--secondary);
    --d-button-primary-bg-color: var(--tertiary);
    --d-button-primary-bg-color--hover: var(--tertiary-hover);
    --d-button-primary-icon-color: var(--secondary);
    --d-button-primary-icon-color--hover: var(--secondary);
    --d-button-danger-text-color: var(--secondary);
    --d-button-danger-text-color--hover: var(--secondary);
    --d-button-danger-bg-color: var(--danger);
    --d-button-danger-bg-color--hover: var(--danger-hover);
    --d-button-danger-icon-color: var(--danger-low);
    --d-button-danger-icon-color--hover: var(--danger-low);
    --d-button-success-text-color: var(--secondary);
    --d-button-success-text-color--hover: var(--secondary);
    --d-button-success-bg-color: var(--success);
    --d-button-success-bg-color--hover: var(--success-hover);
    --d-button-success-icon-color: var(--success-low);
    --d-button-success-icon-color--hover: var(--success-low);
    --d-button-flat-text-color: var(--tertiary);
    --d-button-flat-text-color--hover: var(--primary);
    --d-button-flat-icon-color: var(--primary-low-mid);
    --d-button-flat-icon-color--hover: var(--primary);
    --d-button-flat-bg-color: transparent;
    --d-button-flat-bg-color--hover: transparent;
    --d-button-flat-bg-color--focus: var(--primary-low);
    --d-button-flat-text-color--disabled: var(--primary);
    --d-button-flat-close-text-color: var(--primary-high);
    --d-button-flat-close-bg-color: transparent;
    --d-button-flat-close-icon-color: var(--primary-high);
    --d-button-flat-close-icon-color--hover: var(--primary);
    --d-button-transparent-text-color: var(--primary);
    --d-button-transparent-text-color--hover: var(--tertiary-hover);
    --d-button-transparent-icon-color: var(--primary-high);
    --d-button-transparent-icon-color--hover: var(--tertiary-hover); */
  }
}

@layer components {
  .d-header>.wrap .contents {
    @apply !flex;
  }

  .user-menu.revamped {
    .tabs-list {
      .d-icon {
        @apply h-8 w-8 p-2 transition-all;

        &:hover, &:focus {
          @apply text-d-primary;
        }
      }
    }
  }

  .d-icon {
    &.d-regular {
      @apply text-inherit;
    }
  }

  .custom-header-links {
    @apply ml-14;
  }

  .top-level-links {
    @apply gap-6;
  }

  .custom-header-link.with-url {
    @apply relative no-underline;
  }

  .custom-header-link.with-url::after {
    content: '';
    @apply absolute bottom-0 left-0 w-0 h-0.5 bg-current transition-all duration-300 ease-in-out;
  }

  .custom-header-link.with-url:hover::after {
    @apply w-full;
  }

  .custom-header-links .custom-header-dropdown-link {
    @apply font-medium text-sm
  }


  /* styling for banner on category page */
  .navigation-container {
    margin-top: 70px;
  }

  .category-title-header {
    position: relative;
    padding: 1em 0;
    min-height: 250px;
    overflow: visible;
    margin-bottom: 30px;
  }

  .category-title-name {
    position: absolute;
    top: 40%;
    left: 56%;
    transform: translate(-50%, -50%);
    width: 190px;
    word-wrap: break-word;
    /* overflow-wrap: break-word; */
  }

  .category-title-name h1 {
    margin: 0;
    font-size: 1rem;
    color: #fff;
  }


  .category-title-description {
    position: absolute;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    background: #fff;
    border-radius: 14px;
    max-height: 140px;
    padding: 1em;
    width: 90%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: flex-start;
    gap: 1em;
    z-index: 10;
    overflow: hidden; /* ensure content is clipped */
  }

  .category-title-description .cooked {
    color: #333;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .category-title-description .category-logo.aspect-image {
    position: static;
    transform: none;
    flex-shrink: 0;
  }

  .category-title-description .category-logo.aspect-image img {
    width: 60px;
    height: auto;
  }

}

@utility d-link-color-* {
  --d-link-color:--value(--color-*)
}

