@theme inline {
  --color-d-primary: var(--primary);
  --color-d-primary-high: var(--primary-high);

  --color-d-secondary: var(--secondary);
  --color-d-tertiary: var(--tertiary);

  --color-d-category: var(--category-color);
}

@layer base {
  :root {
    --heading-font-family: var(--font-sans);
    --font-family: var(--font-sans);

    --primary: var(--color-primary-500);
    --primary-high: var(--color-primary-500);

    --excerpt-color: inherit;
    /* 
    --primary
    --primary-very-low
    --primary-low
    --primary-medium
    --primary-high
    --primary-very-high
     */
  }

  :root {
    --d-button-default-bg-color: var(--color-primary-50);
    --d-button-default-text-color: var(--color-primary-500);
    --d-button-default-icon-color: var(--d-button-default-text-color);

    --d-button-default-bg-color--hover: var(--color-primary-500);
    --d-button-default-text-color--hover: var(--color-primary-100);
    --d-button-default-icon-color--hover: var(--d-button-default-text-color--hover);

    /* --d-button-border-radius: var(--d-border-radius);
    --d-button-transition: none;
    --d-button-border: 1px solid transparent;
    --d-button-default-text-color: var(--primary);
    --d-button-default-text-color--hover: var(--secondary);
    --d-button-default-bg-color: var(--primary-low);
    --d-button-default-bg-color--hover: var(--primary-medium);
    --d-button-default-icon-color: var(--primary-high);
    --d-button-default-icon-color--hover: var(--primary-low);
    --d-button-primary-text-color: var(--secondary);
    --d-button-primary-text-color--hover: var(--secondary);
    --d-button-primary-bg-color: var(--tertiary);
    --d-button-primary-bg-color--hover: var(--tertiary-hover);
    --d-button-primary-icon-color: var(--secondary);
    --d-button-primary-icon-color--hover: var(--secondary);
    --d-button-danger-text-color: var(--secondary);
    --d-button-danger-text-color--hover: var(--secondary);
    --d-button-danger-bg-color: var(--danger);
    --d-button-danger-bg-color--hover: var(--danger-hover);
    --d-button-danger-icon-color: var(--danger-low);
    --d-button-danger-icon-color--hover: var(--danger-low);
    --d-button-success-text-color: var(--secondary);
    --d-button-success-text-color--hover: var(--secondary);
    --d-button-success-bg-color: var(--success);
    --d-button-success-bg-color--hover: var(--success-hover);
    --d-button-success-icon-color: var(--success-low);
    --d-button-success-icon-color--hover: var(--success-low);
    --d-button-flat-text-color: var(--tertiary);
    --d-button-flat-text-color--hover: var(--primary);
    --d-button-flat-icon-color: var(--primary-low-mid);
    --d-button-flat-icon-color--hover: var(--primary);
    --d-button-flat-bg-color: transparent;
    --d-button-flat-bg-color--hover: transparent;
    --d-button-flat-bg-color--focus: var(--primary-low);
    --d-button-flat-text-color--disabled: var(--primary);
    --d-button-flat-close-text-color: var(--primary-high);
    --d-button-flat-close-bg-color: transparent;
    --d-button-flat-close-icon-color: var(--primary-high);
    --d-button-flat-close-icon-color--hover: var(--primary);
    --d-button-transparent-text-color: var(--primary);
    --d-button-transparent-text-color--hover: var(--tertiary-hover);
    --d-button-transparent-icon-color: var(--primary-high);
    --d-button-transparent-icon-color--hover: var(--tertiary-hover); */
  }
}

@layer components {
  .d-header>.wrap .contents {
    @apply !flex;
  }

  .user-menu.revamped {
    .tabs-list {
      .d-icon {
        @apply h-8 w-8 p-2 transition-all;

        &:hover, &:focus {
          @apply text-d-primary;
        }
      }
    }
  }

  .d-icon {
    &.d-regular {
      @apply text-inherit;
    }
  }

  .custom-header-links {
    @apply ml-14;
  }

  .top-level-links {
    @apply gap-6;
  }

  .custom-header-link.with-url {
    @apply relative no-underline;
  }

  .custom-header-link.with-url::after {
    content: '';
    @apply absolute bottom-0 left-0 w-0 h-0.5 bg-current transition-all duration-300 ease-in-out;
  }

  .custom-header-link.with-url:hover::after {
    @apply w-full;
  }

  .custom-header-links .custom-header-dropdown-link {
    @apply font-medium text-sm
  }


  /* styling for banner on category page */
  .navigation-container {
    @apply mt-12 gap-2;
  }

  .navigation-controls {
    @apply mb-0;
  }

  .category-breadcrumb {
    @apply mb-0;
  }

  .category-title-header {
    @apply relative py-4 h-72 overflow-visible rounded-2xl;
  }

  .category-title-name {
    @apply absolute top-[43%] left-[51%] w-48 break-words text-center;
    transform: translate(-50%, -50%);
  }

  .category-title-name h1 {
    @apply m-0 text-base text-white;
  }

  .category-title-description {
    @apply absolute flex items-center h-36 p-4 pl-24
    bg-white rounded-2xl  shadow-lg gap-4 overflow-hidden
    left-8 right-8 -bottom-8;
  }

  .category-title-description .cooked {
    @apply text-gray-800 text-left;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .category-title-contents .category-logo.aspect-image {
    @apply absolute shrink-0 m-0 bottom-10 z-10 left-12 translate-y-1/2;
  }

  .category-title-contents .category-logo.aspect-image img {
    @apply w-16 h-auto;
  }

  .category-title-description.no-logo {
    @apply pl-4;
  }

  /* hiding composer default textarea and input and styling tags section*/

  .d-editor-textarea-wrapper {
    @apply hidden;
  }

  .title-and-category .title-input {
    @apply hidden
  }

  .title-and-category {
    @apply flex-col items-baseline;
  }

  .title-and-category .tags-input {
    @apply max-w-full w-full;
  }
  
  .title-and-category .category-input {
    @apply flex w-full gap-4 max-w-full justify-between mt-2; 
  }

  .category-input .select-kit.single-select {
    @apply flex-1 h-[2.3rem];
  }

  .category-input .topic-type-selector {
    @apply flex-1 w-full;
  }

  .topic-type-selector .form-control {
    @apply w-full;
  }

  /* styling for composer */

  .reply-area .toolbar-visible {
    @apply overflow-scroll;
  }

  /* styling for create-topic button */

  .fk-d-button-tooltip .btn {
      @apply bg-primary-500 text-primary-50 relative overflow-hidden;
      background: linear-gradient(to right, var(--color-primary-500) 50%, var(--color-primary-700) 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all .3s ease-out;
  }
  .fk-d-button-tooltip .btn:hover {
      background-position: left bottom;
      @apply text-white;
  }
  .fk-d-button-tooltip .btn:hover .fa.d-icon {
      @apply text-white;
  }
  .fk-d-button-tooltip .btn .fa.d-icon {
      @apply text-white;
  }

  /* composer height set */

  .btn.toggle-fullscreen {
    @apply hidden;
  }

  @media (min-width: 768px) {
    #reply-control.open {
      @apply h-[calc(100vh-4rem)] min-h-[calc(100vh-4rem)];
    }
  }

  /* styling for tag banner */
  .tag-title-header {
    @apply h-72 overflow-visible rounded-2xl items-center;
  }

  .tag-title-contents {
    @apply relative left-3 -top-6;

    h1 {
      @apply text-white;
    }
  }

  /* styling for tag-banner and main-outlet */

  #main-outlet {
    @apply relative
  }
}

@utility d-link-color-* {
  --d-link-color:--value(--color-*)
}

